src/main/resources/wsdl/Services3.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://services/ecentric/com/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://services/ecentric/com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services/ecentric/com/">
    <wsdl:documentation>Services</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://services/ecentric/com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services/ecentric/com/xsd">
            <xs:element name="getAadhaarDemographicDataBySRDHSecuredeKYC">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="encPID" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="encSessionKey" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="encHmac" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="uidNum" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="agencyName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="agencyCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eKYCOption" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAadhaarDemographicDataBySRDHSecuredeKYCResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAadhaarDemographicDataBySRDHSecuredeKYCRequest">
        <wsdl:part name="parameters" element="ns0:getAadhaarDemographicDataBySRDHSecuredeKYC"/>
    </wsdl:message>
    <wsdl:message name="getAadhaarDemographicDataBySRDHSecuredeKYCResponse">
        <wsdl:part name="parameters" element="ns0:getAadhaarDemographicDataBySRDHSecuredeKYCResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicesPortType">
        <wsdl:operation name="getAadhaarDemographicDataBySRDHSecuredeKYC">
            <wsdl:input message="axis2:getAadhaarDemographicDataBySRDHSecuredeKYCRequest" wsaw:Action="urn:getAadhaarDemographicDataBySRDHSecuredeKYC"/>
            <wsdl:output message="axis2:getAadhaarDemographicDataBySRDHSecuredeKYCResponse" wsaw:Action="urn:getAadhaarDemographicDataBySRDHSecuredeKYCResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicesSOAP11Binding" type="axis2:ServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAadhaarDemographicDataBySRDHSecuredeKYC">
            <soap:operation soapAction="urn:getAadhaarDemographicDataBySRDHSecuredeKYC" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicesSOAP12Binding" type="axis2:ServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAadhaarDemographicDataBySRDHSecuredeKYC">
            <soap12:operation soapAction="urn:getAadhaarDemographicDataBySRDHSecuredeKYC" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicesHttpBinding" type="axis2:ServicesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAadhaarDemographicDataBySRDHSecuredeKYC">
            <http:operation location="Services/getAadhaarDemographicDataBySRDHSecuredeKYC"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Services">
        <wsdl:port name="ServicesSOAP11port_http" binding="axis2:ServicesSOAP11Binding">
            <soap:address location="http://ekyc.ap.gov.in/SRDHekycpidService/services/Services.ServicesSOAP11port_http/"/>
        </wsdl:port>
        <wsdl:port name="ServicesSOAP12port_http" binding="axis2:ServicesSOAP12Binding">
            <soap12:address location="http://ekyc.ap.gov.in/SRDHekycpidService/services/Services.ServicesSOAP12port_http/"/>
        </wsdl:port>
        <wsdl:port name="ServicesHttpport" binding="axis2:ServicesHttpBinding">
            <http:address location="http://ekyc.ap.gov.in/SRDHekycpidService/services/Services.ServicesHttpport/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
